@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.shashwat {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.name {
  font-family: "Inter", sans-serif;
  font-size: 5vh;
  font-weight: 600;
  font-style: normal;
}

.shashwat > h4 {
  margin-bottom: 10px;
}